In [ ]:
# TODO: explore https://pandas.pydata.org/pandas-docs/stable/user_guide/scale.html

In [20]:
import pandas as pd
import random 

pd.set_option('display.max_rows',1000)

In [21]:
movies = pd.read_csv('../data/movielens/movies.csv')
ratings = pd.read_csv('../data/movielens/ratings.csv')

In [22]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [23]:
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'],unit='s')

In [24]:
movies['genres'].str.split('|').explode().value_counts()

Drama                 25606
Comedy                16870
Thriller               8654
Romance                7719
Action                 7348
Horror                 5989
Documentary            5605
Crime                  5319
(no genres listed)     5062
Adventure              4145
Sci-Fi                 3595
Children               2935
Animation              2929
Mystery                2925
Fantasy                2731
War                    1874
Western                1399
Musical                1054
Film-Noir               353
IMAX                    195
Name: genres, dtype: int64

In [25]:
movies['genres'].str.split('|').apply(len).value_counts()

1     30631
2     18326
3      9852
4      2784
5       680
6       123
7        24
8         2
10        1
Name: genres, dtype: int64

In [26]:
movies['primary_genre'] = movies['genres'].str.split('|').apply(random.choice)

In [27]:
movies['primary_genre'].value_counts()

Drama                 15805
Comedy                10316
Documentary            5128
(no genres listed)     5062
Thriller               3854
Horror                 3410
Romance                3309
Action                 3069
Crime                  2145
Adventure              1600
Sci-Fi                 1580
Animation              1523
Children               1237
Mystery                1094
Fantasy                 987
Western                 884
War                     814
Musical                 409
Film-Noir               142
IMAX                     55
Name: primary_genre, dtype: int64

In [28]:
movielens = ratings.merge(movies, on='movieId', how='inner')
movielens.to_parquet('../data/movielens.parquet')